@{
    ViewBag.Title = "Home Page";
}

<div class="col-lg-3 col-xs-6">
    <button type="button" class="btn-primary"><a href="@Url.Action("Index","Category")">Category</a></button>

    <button type="button" class="btn-primary"><a href="@Url.Action("Index","Expense")">Category</a></button>
</div>